<launch>

  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/tf" />

  <!-- This is the serial number of the center camera on Drexel/U. Delaware's sensor head -->
  <arg name="ud_left_camera_serial" default="12292568" />
  <!-- This is the serial number of the center camera on Drexel/U. Delaware's sensor head -->
  <arg name="ud_center_camera_serial" default="13041024" />
  <!-- This is the serial number of the center camera on Drexel/U. Delaware's sensor head -->
  <arg name="ud_right_camera_serial" default="12380087" />

  <!-- This is the serial number of the center camera on Georgia Tech's sensor head -->
  <arg name="gt_left_camera_serial" default="" />
  <!-- This is the serial number of the center camera on Georgia Tech's sensor head -->
  <arg name="gt_center_camera_serial" default="" />
  <!-- This is the serial number of the center camera on Georgia Tech's sensor head -->
  <arg name="gt_right_camera_serial" default="" />

  <!-- Right camera nodes -->
  <include file="$(find hubo_launch)/launch/pointgrey_camera.launch" >
    <arg name="remapped_tf" value="$(arg remapped_tf)" />
    <arg name="output" value="$(arg output)" />
    <arg name="serial" value="$(arg ud_right_camera_serial)" />
    <arg name="camera_name" value="right_camera" />
    <arg name="frame_id" value="trinocular_right_sensor_frame" />
    <arg name="camera_info_url" value="dontcare" />
  </include>
  <group ns="right_camera" >
    <node pkg="opportunistic_link" type="camera_resizer" name="camera_resizer" output="$(arg output)" >
      <param name="camera_base_topic" type="string" value="image_raw" />
      <param name="resized_base_topic" type="string" value="resized/image" />
      <param name="resized_width" type="int" value="320" />
      <param name="resized_height" type="int" value="240" />
      <param name="convert_to_bw" type="bool" value="false" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <node pkg="opportunistic_link" type="request_camera_link_startpoint" name="camera_link_startpoint" output="$(arg output)" >
      <param name="camera_topic" type="string" value="resized/image" />
      <param name="data_service" type="string" value="/right_camera/image/data" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <node pkg="opportunistic_link" type="request_camera_link_endpoint" name="camera_link_endpoint" output="$(arg output)" >
      <param name="relay_topic" type="string" value="/right_camera/relay/image" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="1.0" />
      <param name="default_quality" type="int" value="20" />
      <param name="quality_ctrl" type="string" value="/right_camera/image/quality" />
      <param name="rate_ctrl" type="string" value="/right_camera/image/rate" />
      <param name="data_service" type="string" value="/right_camera/image/data" />
      <param name="override_timestamps" type="bool" value="true" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>

  </group>
</launch>
