<launch>

  <arg name="output" default="screen" />
  <arg name="robot" default="drchubo" />
  <arg name="sim" default="false" />

  <group ns="$(arg robot)_fullbody_interface">

    <node name="$(arg robot)_fullbody_feedback_node" pkg="hubo_ach_ros_bridge" type="feedback" output="$(arg output)" >
      <rosparam command="load" file="$(find hubo_launch)/config/$(arg robot)_fullbody_params.yaml" />
      <remap if="$(arg sim)" from="clock" to="/clock" />
    </node>

  </group>

</launch>

