<!-- Poincloud compression -->
<launch>

  <arg name="image_name" default="camera" />
  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/tf" />
  <arg name="default_rate" default="5.0" />

  <arg name="node_name" default="$(arg image_name)" />

  <node pkg="opportunistic_link" type="limited_image_link_startpoint" name="$(arg node_name)_image_link_startpoint" output="$(arg output)" >
    <param name="image_topic" type="string" value="$(arg image_name)/rgb/image" />
    <param name="link_ctrl" type="string" value="$(arg image_name)/rgb/ctrl" />
    <param name="rate_ctrl" type="string" value="$(arg image_name)/rgb/rate" />
    <param name="link_topic" type="string" value="$(arg image_name)/rgb/link" />
    <param name="default_rate" type="double" value="$(arg default_rate)" />
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

  <node pkg="opportunistic_link" type="limited_link_startpoint.py" name="$(arg node_name)_image_camerainfo_startpoint" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg image_name)/rgb/camera_info" />
    <param name="default_rate" type="double" value="$(arg default_rate)" />
    <param name="topic_type" type="string" value="sensor_msgs/CameraInfo" />
    <param name="transport_data" type="string" value="$(arg image_name)/rgb/camera_info/link" />
    <param name="transport_ctrl" type="string" value="$(arg image_name)/rgb/camera_info/ctrl" />
    <param name="rate_ctrl" type="string" value="$(arg image_name)/rgb/camera_info/rate" />
  </node>

</launch>
