<!-- Poincloud compression -->
<launch>

  <arg name="pointcloud_name" default="camera" />
  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/tf" />
  <arg name="default_rate" default="1.0" />
  <arg name="filter_size" default="0.0" />

  <arg name="node_name" default="$(arg pointcloud_name)" />

  <node pkg="opportunistic_link" type="limited_pointcloud_link_startpoint" name="$(arg node_name)_pointcloud_link_startpoint" output="$(arg output)" >
    <param name="pointcloud_topic" type="string" value="$(arg pointcloud_name)/depth/points_xyz" />
    <param name="compression_type" type="string" value="PCL" />
    <param name="default_rate" type="double" value="$(arg default_rate)" />
    <param name="filter_size" type="double" value="$(arg filter_size)" />
    <param name="link_ctrl" type="string" value="$(arg pointcloud_name)/depth/ctrl" />
    <param name="rate_ctrl" type="string" value="$(arg pointcloud_name)/depth/rate" />
    <param name="link_topic" type="string" value="$(arg pointcloud_name)/depth/compressed" />
  </node>

  <!-- <node pkg="opportunistic_link" type="limited_link_startpoint.py" name="$(arg node_name)_pointcloud_camerainfo_endpoint" output="screen" >
    <param name="input_topic_name" type="string" value="$(arg pointcloud_name)/depth/camera_info" />
    <param name="default_rate" type="double" value="$(arg default_rate)" />
    <param name="topic_type" type="string" value="sensor_msgs/CameraInfo" />
    <param name="transport_topic" type="string" value="$(arg pointcloud_name)/depth/camera_info/link" />
    <param name="transport_ctrl" type="string" value="$(arg pointcloud_name)/depth/camera_info/ctrl" />
    <param name="rate_ctrl" type="string" value="$(arg pointcloud_name)/depth/camera_info/rate" />
  </node> -->

</launch>
