<launch>

  <arg name="image_name" default="camera" />
  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/tf" />

  <arg name="node_name" default="$(arg image_name)" />

  <node pkg="opportunistic_link" type="request_camera_link_startpoint" name="$(arg node_name)_camera_link_startpoint" output="$(arg output)" >
    <param name="camera_topic" type="string" value="$(arg image_name)/rgb/image" />
    <param name="data_service" type="string" value="$(arg image_name)/rgb/data" />
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

</launch>
