<launch>

  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="/workstation_tf" />
  <arg name="model" default="$(find drchubo_v3)/robots/drchubo_v3.urdf" />

  <group ns="drchubo_workstation">
    <!-- Robot state & model -->
    <param name="robot_description" textfile="$(arg model)" />
    <node pkg="opportunistic_link" type="request_link_endpoint.py" name="jointstate_endpoint" output="screen" >
      <param name="output_topic_name" type="string" value="joint_states" />
      <param name="topic_type" type="string" value="sensor_msgs/JointState" />
      <param name="request_service" type="string" value="/drchubo_fullbody_interface/joint_states/data" />
      <param name="rate_ctrl" type="string" value="/drchubo_fullbody_interface/joint_states/rate" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="10" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <node name="wk_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg output)" >
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <node pkg="opportunistic_link" type="request_link_endpoint.py" name="bodyimu_endpoint" output="screen" >
      <param name="output_topic_name" type="string" value="body_imu" />
      <param name="topic_type" type="string" value="sensor_msgs/Imu" />
      <param name="request_service" type="string" value="/drchubo_fullbody_interface/body_imu/data" />
      <param name="rate_ctrl" type="string" value="/drchubo_fullbody_interface/body_imu/rate" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="10" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <node name="wk_body_orientation_publisher" pkg="hubo_ach_ros_bridge" type="body_orientation_publisher.py" output="$(arg output)">
      <param name="target_frame" type="string" value="world_orientation_frame" />
      <param name="root_frame" type="string" value="body_imu_sensor_frame" />
      <param name="rate" type="double" value="100" />
      <param name="imu_topic" type="string" value="body_imu" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <!-- <node name="wk_laser_orientation_publisher" pkg="hubo_head_controller" type="laser_orientation_publisher.py" output="$(arg output)">
      <param name="head_variant" type="string" value="prebeta" />
      <param name="laser_frame" type="string" value="laser_sensor_frame" />
      <param name="root_frame" type="string" value="Body_NK2" />
      <param name="laser_joint" type="string" value="NK3" />
      <param name="rate" type="double" value="100" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node> -->
    <!-- Sensor frames -->
    <include file="$(find hubo_launch)/launch/drchubo_sensor_frames.launch" >
      <arg name="remapped_tf" value="$(arg remapped_tf)" />
    </include>
    <!-- Trinocular frames -->
    <include file="$(find hubo_launch)/launch/drchubo_trinocular_frames.launch" >
      <arg name="remapped_tf" value="$(arg remapped_tf)" />
    </include>
    <!-- RGBD frames -->
    <include file="$(find hubo_launch)/launch/drchubo_rgbd_frames.launch" >
      <arg name="remapped_tf" value="$(arg remapped_tf)" />
    </include>
    <!-- RGBD datalink -->
    <!-- <include file="$(find hubo_launch)/launch/rgbd_link_end.launch">
      <arg name="rgbd_name" value="/rgbd_shortrange" />
      <arg name="node_name" value="rgbd_shortrange" />
      <arg name="remapped_tf" value="$(arg remapped_tf)" />
    </include> -->
    <!-- LIDAR pointcloud datalink -->
    <node pkg="opportunistic_link" type="request_pointcloud_link_endpoint" name="laser_pointcloud_link_endpoint" output="$(arg output)" >
      <param name="relay_topic" type="string" value="/laser/relay/points_xyz" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="0.0" />
      <param name="default_filter_size" type="double" value="0.02" />
      <param name="filter_ctrl" type="string" value="/laser/quality" />
      <param name="rate_ctrl" type="string" value="/laser/rate" />
      <param name="data_service" type="string" value="/laser/data" />
      <param name="override_timestamps" type="bool" value="true" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <!-- Trinocular camera datalink -->
    <!-- <node pkg="opportunistic_link" type="request_camera_link_endpoint" name="left_camera_link_endpoint" output="$(arg output)" >
      <param name="relay_topic" type="string" value="/left_camera/relay/image" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="1.0" />
      <param name="default_quality" type="int" value="20" />
      <param name="quality_ctrl" type="string" value="/left_camera/image/quality" />
      <param name="rate_ctrl" type="string" value="/left_camera/image/rate" />
      <param name="data_service" type="string" value="/left_camera/image/data" />
      <param name="override_timestamps" type="bool" value="true" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node> -->
    <node pkg="opportunistic_link" type="request_camera_link_endpoint" name="center_camera_link_endpoint" output="$(arg output)" >
      <param name="relay_topic" type="string" value="/center_camera/relay/image" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="5.0" />
      <param name="default_quality" type="int" value="20" />
      <param name="quality_ctrl" type="string" value="/center_camera/image/quality" />
      <param name="rate_ctrl" type="string" value="/center_camera/image/rate" />
      <param name="data_service" type="string" value="/center_camera/image/data" />
      <param name="override_timestamps" type="bool" value="true" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>
    <!-- <node pkg="opportunistic_link" type="request_camera_link_endpoint" name="right_camera_link_endpoint" output="$(arg output)" >
      <param name="relay_topic" type="string" value="/right_camera/relay/image" />
      <param name="latched" type="bool" value="true" />
      <param name="default_rate" type="double" value="1.0" />
      <param name="default_quality" type="int" value="20" />
      <param name="quality_ctrl" type="string" value="/right_camera/image/quality" />
      <param name="rate_ctrl" type="string" value="/right_camera/image/rate" />
      <param name="data_service" type="string" value="/right_camera/image/data" />
      <param name="override_timestamps" type="bool" value="true" />
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node> -->
    <!-- Control crystal interactive marker -->
    <node name="control_crystal" pkg="gui_robot_control" type="control_crystal.py" output="$(arg output)" >
      <remap from="/tf" to="$(arg remapped_tf)" />
      <param name="rgbd_pointcloud_request_service" type="string" value="/rgbd_shortrange/depth/rate" />
      <param name="lidar_pointcloud_request_service" type="string" value="/laser/rate" />
      <param name="head_pointing_action" type="string" value="drchubo_point_head" />
    </node>

  </group>

</launch>

