<launch>

    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find hubo_components)/config/drchubo_head_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="head_dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" 
          args="-m /hubo_head_controller -p head_port head_pan_controller head_tilt_controller lidar_tilt_controller"
          output="screen" />

</launch>
