<launch>

  <arg name="output" default="screen" />
  <arg name="remapped_tf" default="new_tf" />
  <arg name="model" default="$(find hubo_description)/huboplus/huboplus.xml" />

  <group ns="huboplus_fullbody_interface">

    <param name="robot_description" textfile="$(arg model)" />

    <node name="joint_state_publisher" pkg="hubo_ach_ros_bridge" type="hubo_joint_state_publisher.py" output="$(arg output)">
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg output)" >
      <remap from="tf" to="$(arg remapped_tf)" />
    </node>

  </group>

</launch>
