<launch>

  <!-- Load the parameters for the hubo-ach to ROS bridge -->
  <rosparam command="load" file="$(find hubo_ach_ros_bridge)/config/drchubo_fullbody_params.yaml" />

  <group ns="drchubo_fullbody_interface">

    <node name="drchubo_fullbody_feedforward_node" pkg="hubo_ach_ros_bridge" type="feedforward" />

  </group>

</launch>

