<launch>

  <arg name="output" default="screen" />
  <arg name="robot" default="huboplus" />

  <include file="$(find hubo_ach_ros_bridge)/launch/full_body_feedback_node.launch" >
    <arg name="output" value="$(arg output)" />
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find hubo_ach_ros_bridge)/launch/full_body_feedforward_node.launch" >
    <arg name="output" value="$(arg output)" />
    <arg name="robot" value="$(arg robot)" />
  </include>

</launch>

